/* 
Test Color Palette
light bg - ebf5fe
link - 0d395e
hover - 0461cf
h1 - 0461cf
 */

 :root {
    --light-background-color: #ebf5fe;
    --primary-color: #0461cf;
    --secondary-color: #0d395e;
    --text-color: #2b2b2b;
    --white: #fff;
    --accent-color: #cf2f77;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--white);
    font-family: "Onest", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: var(--text-color);
    margin: 20px 30px;
  }
  
  .pokemon_name {
    font-weight: 600;
  }
  
  .pokemon_height {
    color: var(--accent-color);
  }
  
  .pokemon-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .button-class {
    background-color: #e8e8e8;
    border: none;
    color: var(--text-color);
    padding: 15px 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 250px;
  }

  .button-class::first-letter {
    text-transform: uppercase;
  }
  
  #modal-container {
    display: none;
  }
  
  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 57, 94, 0.25);
  
    /* to show it above other content */
    z-index: 999;
  
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
  
    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
  }
  
  .modal-close {
    float: right;
    -webkit-appearance: none;
    border: 0;
    background: none;
    color: var(--accent-color);
    text-decoration: underline;
  }
  
  .modal h1 {
    margin-top: 0;
    color: var(--primary-color);
  }
  
  .modal h1::first-letter {
    text-transform: uppercase;
  }
  
  .modal p {
    margin-bottom: 0;
  }
  