/* 
Test Color Palette
light bg - ebf5fe
link - 0d395e
hover - 0461cf
h1 - 0461cf
 */

 :root {
    --light-background-color: #ebf5fe;
    --primary-color: #0461cf;
    --secondary-color: #0d395e;
    --text-color: #2b2b2b;
    --white: #fff;
    --accent-color: #cf2f77;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--white);
    font-family: "Onest", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color);
    margin: 0;
  }

  main {
    margin: 20px 30px;
  }

  .btn-light {
    background-color: var(--light-background-color);
    border: none;
    color: var(--text-color);
    padding: 15px 25px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    margin: 4px;
    width: 250px;
  }

  .btn-light:hover, .btn-light:active, .btn-light:visited {
    background: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
  }

  .btn-light::first-letter, .modal-title::first-letter {
    text-transform: uppercase;
  }

  .navbar-brand {
    font-size: 22px;
    line-height: 30px;
  }

  .list-group {
    display: flex;
    text-align: center;
  }

  .list-group-item {
    border: none;
  }